projects/OG-Financial/src/main/java/com/opengamma/financial/analytics/model/volatility/cube/CaseysSabrSurfacePrototypeFunction.java
/db/
*.log
.classpath
.checkstyle
.directory
common/build-projects.xml
common/credentials.properties
common/tests.properties
common/db.properties
common/deploy.properties
/projects/*
!/projects/pom.xml
!/projects/src
!/projects/parent
!/projects/analytics
!/projects/bloomberg
!/projects/bloomberg-example
!/projects/component
!/projects/component-rest
!/projects/core
!/projects/core-rest-client
!/projects/core-rest
!/projects/client
!/projects/engine
!/projects/engine-rest-client
!/projects/engine-rest
!/projects/engine-db
!/projects/examples
!/projects/financial
!/projects/financial-rest-client
!/projects/financial-rest
!/projects/finmath
!/projects/validation
!/projects/starling-client
!/projects/financial-types
!/projects/install
!/projects/integration
!/projects/language
!/projects/live-data
!/projects/master
!/projects/master-rest-client
!/projects/master-rest
!/projects/master-db
!/projects/master-db-rest-client
!/projects/master-db-rest
!/projects/maven-plugin
!/projects/provider
!/projects/provider-rest-client
!/projects/provider-rest
!/projects/security
!/projects/server
!/projects/time-series
!/projects/util
!/projects/util-rest-client
!/projects/util-rest
!/projects/util-db
!/projects/web
repository/
ivy/
bootstrap/
tests/output/
javadoc
lib/
/projects/*/target/
.DS_Store
.*.sw?
logs/
artifacts/
output/
output-long/
/dist/
/Setting-up-an-Eclipse-workspace.html
test-output/
/install/
/OpenGamma/
/build/
LOCAL_STASH
docs.sqlite3
*.pid
*.pyc
.settings/
/target/
/examples/target/

# IntelliJ config files
*.iws
#*.iml
*.ids
#.idea/libraries
#.idea/workspace.xml
#.idea/compiler.xml
#.idea/modules.xml
#.idea/encodings.xml
#.idea/uiDesigner.xml
#.idea/dictionaries
#.idea/inspectionProfiles
#.idea/validation.xml
#.idea/dataSources.xml
#.idea/scopes/scope_settings.xml
#.idea/inspectionProfiles/profiles_settings.xml
#.idea/inspectionProfiles/Project_Default.xml
#.idea/copyright/profiles_settings.xml
atlassian-ide-plugin.xml
