<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
<listAttribute key="com.mountainminds.eclemma.core.SCOPE_IDS">
<listEntry value="=og-financial-types/src\/main\/java"/>
<listEntry value="=og-provider-rest/src\/main\/java"/>
<listEntry value="=og-security/src\/main\/java"/>
<listEntry value="=og-component-rest/src\/main\/java"/>
<listEntry value="=og-financial-rest/src\/main\/java"/>
<listEntry value="=og-core-common/src\/main\/java"/>
<listEntry value="=og-engine-common/src\/main\/java"/>
<listEntry value="=og-livedata/src\/main\/java"/>
<listEntry value="=og-master-common/src\/main\/java"/>
<listEntry value="=og-financial-common/src\/main\/java"/>
<listEntry value="=og-timeseries/src\/main\/java"/>
<listEntry value="=og-enginedb/src\/main\/java"/>
<listEntry value="=og-bloomberg/src\/main\/java"/>
<listEntry value="=og-engine-rest-client/src\/main\/java"/>
<listEntry value="=og-provider-rest-client/src\/main\/java"/>
<listEntry value="=og-provider-common/src\/main\/java"/>
<listEntry value="=og-util-rest/src\/main\/java"/>
<listEntry value="=og-web/src\/main\/java"/>
<listEntry value="=og-analytics/src\/main\/java"/>
<listEntry value="=og-core-rest-client/src\/main\/java"/>
<listEntry value="=og-util-common/src\/main\/java"/>
<listEntry value="=og-financial-rest-client/src\/main\/java"/>
<listEntry value="=og-core-rest/src\/main\/java"/>
<listEntry value="=og-masterdb-common/src\/main\/java"/>
<listEntry value="=og-master-rest/src\/main\/java"/>
<listEntry value="=og-master-rest-client/src\/main\/java"/>
<listEntry value="=og-utildb/src\/main\/java"/>
<listEntry value="=og-engine-rest/src\/main\/java"/>
<listEntry value="=og-util-rest-client/src\/main\/java"/>
<listEntry value="=og-component-common/src\/main\/java"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="og-bloomberg"/>
<mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS"/>
<listAttribute key="org.testng.eclipse.CLASS_TEST_LIST"/>
<listAttribute key="org.testng.eclipse.GROUP_LIST"/>
<listAttribute key="org.testng.eclipse.GROUP_LIST_CLASS"/>
<stringAttribute key="org.testng.eclipse.LOG_LEVEL" value="2"/>
<listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
<listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST">
<listEntry value="com.opengamma.bbg"/>
<listEntry value="com.opengamma.bbg.bsym"/>
<listEntry value="com.opengamma.bbg.livedata"/>
<listEntry value="com.opengamma.bbg.loader"/>
<listEntry value="com.opengamma.bbg.replay"/>
<listEntry value="com.opengamma.bbg.server"/>
<listEntry value="com.opengamma.util"/>
</listAttribute>
<mapAttribute key="org.testng.eclipse.PARAMETERS"/>
<intAttribute key="org.testng.eclipse.TYPE" value="5"/>
</launchConfiguration>
