.OG-convention .OG-form .og-tabs-container {
  margin-bottom: 10px;
}

.OG-convention .OG-form .og-confirm {
  background: transparent;
  bottom: 3px;
  height: 35px;
  line-height: 35px;
  margin: 0;
  right: 16px;
  position: absolute;
  width: 100%;
}

.OG-convention .OG-form .og-confirm div {
  background: #fff;
  margin:  0 0 0 18px;
  padding: 0 0 3px 10px;
}

.OG-convention .OG-form .og-confirm button:last-child {
  bottom: 3px;
  position: absolute;
  right: 10px;
}