<!-- TODO add information tooltips + links to docs -->
<section>
  <div class="OG-details-content OG-convention OG-grid OG-form">
	<section class="OG-mod-0 OG-c7 og-id-cur">
	  <div class="og-mod-content">
	    <table class="OG-table">
	      <col style="width: 30%"/>
	      <col style="width: 30%"/>
	      <col style="width: 40%"/>	      
	      <tbody>
	        <tr>
  	          <td>Name</td>
	          <td><input type="text" name="name" value="{{name}}"/></td>
	          <td></td>
	        </tr>
	        <tr>
	          <td>Fixing time</td>
	          <td><input type="text" name="fixingTime" value="{{{fixingTime}}}"/></td>
	          <td></td>
            </tr>
            <tr>
	          <td>Swap convention</td>
	          <td>{{{item_0}}}</td>
	          <td><p id="warning" style="color:red">No swap conventions in the database</p></td>
	          <td></td>
	        </tr>
	      </tbody>
	    </table>
	  </div>
	</section>
    <section class="OG-mod-0 OG-c7 og-id-cur">
      <div class="og-mod-content">
    	  {{{item_1}}} 
    	</div>
	  </section>
	  <section class="OG-mod-0 OG-c7 og-attributes">
		<div class="og-mod-content">
		 {{{item_2}}}
		</div>
	  </section>
	</div>
</section>