<!-- TODO break out into logical sections and add information tooltips + links to docs -->
<section>
  <div class="OG-details-content OG-convention OG-grid OG-form">
	<section class="OG-mod-0 OG-c7 og-id-cur">
	  <div class="og-mod-content">
	    <table class="OG-table">
	      <col style="width: 30%"/>
	      <col style="width: 50%"/>
	      <col style="width: 20%"/>	      
	      <tbody>
	        <tr>
  	          <td>Name</td>
	          <td><input type="text" name="name" value="{{name}}"/></td>
	          <td></td>
	        </tr>
	        <tr>
	          <td>Underlying *IBOR index convention</td>
	          <td>{{{item_0}}}</td>
	          <td></td>
	        </tr>
	        <tr>
    		  <td>Is the rate fixed in advance?</td>
    		  <td class="og-checkbox"><input type="checkbox" name="isAdvanceFixing"/></td>
    		  <td></td>
    		</tr>	       
    		<tr>
    		  <td>Reset tenor</td>
    		  <td>{{{item_1}}}</td>
    		  <td></td>
    		</tr>
    		<tr>
    		  <td>Stub type</td>
    		  <td>{{{item_2}}}</td>
    		  <td></td>
    		</tr>
    		<tr>
    		  <td>Is the notional exchanged?</td>
    		  <td class="og-checkbox"><input type="checkbox" name="isExchangeNotional"/></td>
    		  <td></td>
    		</tr>    		
    		<tr>
    		  <td>Payment lag in days</td>
    		  <td><input class="og-num" type="text" name="paymentLag" value="{{paymentLag}}"/></td>
    		  <td></td>
    		</tr>
	      </tbody>
	    </table>
	  </div>
	</section>
    <section class="OG-mod-0 OG-c7 og-id-cur">
      <div class="og-mod-content">
    	  {{{item_3}}} 
    	</div>
	  </section>
	  <section class="OG-mod-0 OG-c7 og-attributes">
		<div class="og-mod-content">
		 {{{item_4}}}
		</div>
	  </section>
	</div>
</section>