<!-- TODO break out into logical sections and add information tooltips + links to docs -->
<section>
  <div class="OG-details-content OG-convention OG-grid OG-form">
	<section class="OG-mod-0 OG-c7 og-id-cur">
	  <div class="og-mod-content">
	    <table class="OG-table">
	      <col style="width: 30%"/>
	      <col style="width: 50%"/>
	      <col style="width: 20%"/>	      
	      <tbody>
	        <tr>
  	          <td>Name</td>
	          <td><input type="text" name="name" value="{{name}}"/></td>
	          <td></td>
	        </tr>
	        <tr>
	          <td>Currency</td>
	          <td>{{{item_0}}}</td>
	          <td></td>
	        </tr>
	        <tr>
	          <td>Fixing Region Holidays</td>
	          <td>{{{item_1}}}</td>
	          <td></td>
	        </tr>
	        <tr>
	          <td>Region Holidays</td>
	          <td>{{{item_2}}}</td>
	          <td></td>
	        </tr>
    		<!-- TODO a time picker -->
    		<tr>
    		  <td>Fixing Time</td>
    		  <td><input type="text" name="fixingTime" value="{{{fixingTime}}}"/></td>
    		  <td></td>
    		</tr>
    		<!-- TODO populate a list of time zones with some logic wrt fixing region? -->
    		<tr>
    		  <td>Fixing Time Zone</td>
    		  <td><input type="text" name="fixingTimeZone" value="{{{fixingTimeZone}}}"/></td>
    		  <td></td>
    		</tr>
    		<tr>
    		  <td>Fixing Page <small>(Optional)</small></td>
    		  <td><input type="text" name="fixingPage" value="{{{fixingPage}}}"/></td>
    		  <td></td>    		  
    		</tr>
    		<tr>
    		  <td>Day-count Convention</td>
    		  <td>{{{item_3}}}</td>
    		  <td></td>
    		</tr>
    		<tr>
    		  <td>Business Day Convention</td>
    		  <td>{{{item_4}}}</td>
    		  <td></td>
    		</tr>
    		<tr>
    		  <td>End of Month Convention?</td>
    		  <td class="og-checkbox"><input type="checkbox" name="isEOM"/></td>
    		  <td></td>
    		</tr>
			<tr>
			  <td>Settlement Days</td>
			  <td><input class="og-num" type="text" name="settlementDays" value="{{settlementDays}}"/></td>
			  <td></td>
			</tr>    		
	      </tbody>
	    </table>
	  </div>
	</section>
    <section class="OG-mod-0 OG-c7 og-id-cur">
      <div class="og-mod-content">
    	  {{{item_5}}} 
    	</div>
	  </section>
	  <section class="OG-mod-0 OG-c7 og-attributes">
		<div class="og-mod-content">
		 {{{item_6}}}
		</div>
	  </section>
	</div>
</section>