<!-- TODO break out into logical sections and add information tooltips + links to docs -->
<section>
  <div class="OG-details-content OG-convention OG-grid OG-form">
	<section class="OG-mod-0 OG-c7 og-id-cur">
	  <div class="og-mod-content">
	    <table class="OG-table">
	      <col style="width: 30%"/>
	      <col style="width: 50%"/>
	      <col style="width: 20%"/>	      
	      <tbody>
	        <tr>
  	          <td>Name</td>
	          <td><input type="text" name="name" value="{{name}}"/></td>
	          <td></td>
	        </tr>
	        <tr>
	          <td>Currency</td>
	          <td>{{{item_0}}}</td>
	          <td></td>
	        </tr>
	        <tr>
	          <td>Region holidays</td>
	          <td>{{{item_1}}}</td>
	          <td></td>
	        </tr>
    		<tr>
    		  <td>Day-count convention</td>
    		  <td>{{{item_2}}}</td>
    		  <td></td>
    		</tr>
    		<tr>
    		  <td>Business day convention</td>
    		  <td>{{{item_3}}}</td>
    		  <td></td>
    		</tr>
    		<tr>
    		  <td>Use end of month convention?</td>
    		  <td class="og-checkbox"><input type="checkbox" name="isEOM"/></td>
    		  <td></td>
    		</tr>
			<tr>
			  <td>Settlement days</td>
			  <td><input class="og-num" type="text" name="settlementDays" value="{{settlementDays}}"/></td>
			  <td></td>
			</tr>    		
	      </tbody>
	    </table>
	  </div>
	</section>
    <section class="OG-mod-0 OG-c7 og-id-cur">
      <div class="og-mod-content">
    	  {{{item_4}}} 
    	</div>
	  </section>
	  <section class="OG-mod-0 OG-c7 og-attributes">
		<div class="og-mod-content">
		 {{{item_5}}}
		</div>
	  </section>
	</div>
</section>