<li class="OG-form og-js-external-id">
	<div class="og-del og-js-rem"></div>
	<div class="OG-clearFix og-external-ids">
		<select class="og-scheme" name="id.{{idx}}.scheme">
			<option value="DbCnv">DbCnv</option>
			<option value="CONVENTION">CONVENTION</option>
			<option value="OG_SYNTHETIC_TICKER">OG_SYNTHETIC_TICKER</option>
			<option value="Other">Other</option>
		</select>
		<input class="og-scheme" type="text" name="id.{{idx}}.new_scheme"/>
		<input class="og-value" type="text" name="id.{{idx}}.value"/>
	</div>
</li>