<!-- TODO check the style sheet - shouldn't need line breaks for span / label elements -->
<!-- TODO break out into logical sections and add information tooltips + links to docs -->
<section>
	<div class="OG-details-content OG-convention OG-grid OG-form">
		<section class="OG-mod-0 OG-c7 og-id-cur">
			<div class="og-mod-content">
				<label>
					<span>Name</span>
					<span><input type="text" name="name" value="{{name}}"/></span>
				</label>
				<label>
					<span>Currency</span>
					<span>{{{item_0}}}</span>
				</label>
				<label>
					<span>Fixing Region Holidays</span>			
					<span>{{{item_1}}}</span>
				</label>
				<label>
					<span>Region Holidays</span>
					<span>{{{item_2}}}</span>
				</label>
				<label>
				<!-- TODO a time picker -->
					<span>Fixing Time</span>
					<span><input type="text" name = "fixingTime" value="{{{fixingTime}}}"/></span>
				</label>
				<label>
				<!-- TODO populate a list of time zones with some logic wrt fixing region? -->
					<span>Fixing Time Zone</span>
					<span><input type="text" name="fixingTimeZone" value="{{{fixingTimeZone}}}"/></span>
				</label>
				<label>
					<span>Fixing Page<small>(Optional)</small></span>
					<span><input type="text" name="fixingPage" value="{{{fixingPage}}}"/></span>
				</label>
				<label>
					<span>Day-count Convention</span>
					<span>{{{item_3}}}</span>
				</label>
				<label>
					<span>Business Day Convention</span>
					<span>{{{item_4}}}</span>
				</label>
				<label>
					<span>End of Month Convention?</span>
  				<input type="checkbox" name = "isEOM" {{{isEOM}}}/>
				</label>
				<label>
					<span>Settlement days</span>
					<span><input class="og-num" type="text", name="settlementDays" value="{{settlementDays}}"/></span>
				</label>
			</div>
		</section>
    <section class="OG-mod-0 OG-c7 og-id-cur">
      <div class="og-mod-content">
    	  {{{item_5}}} 
    	</div>
		</section>
		<section class="OG-mod-0 OG-c7 og-attributes">
			<div class="og-mod-content">
			 {{{item_6}}}
			</div>
		</section>
	</div>
</section>